In [2]:
import pandas as pd

## Proyecto 4 
### Vamos a coger las bases de datos de netflix, disney y prime para poder relacionar las distintas columnas según su contenido. Después de poder unificar los 3 datasets pasaremos a MySQL para llevar a cabo las relaciones

#### Cargamos los CSV

In [3]:
netflix = pd.read_csv("CSV/netflix_titles.csv")
disney = pd.read_csv("CSV/disney_plus_titles.csv")
prime = pd.read_csv("CSV/amazon_prime_titles.csv")

#### Quitamos las columnas de 'date_added' y 'description'

In [ ]:
netflix = netflix.drop(columns=['date_added', 'description'])
prime = prime.drop(columns=['date_added', 'description'])
disney = disney.drop(columns=['date_added', 'description'])